@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    left: -10%
    width: 35%
  &-3
    transform-origin: center
    animation: girarYVolver 5s ease-in-out infinite
    position: absolute
    top: 70%
    right: 80%
    width: 25%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 40%
    left: 65%
    width: 30%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes girarYVolver
  0%
    transform: rotate(0deg)
  40%
    transform: rotate(360deg)
  60%
    transform: rotate(360deg)
  100%
    transform: rotate(0deg)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 45% 
  @media only screen and (min-width: 1024px)
    margin-left: -50px
  @media only screen and (max-width: 1023px)
    width: 100%

.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  width: 25%

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.barra-avance__boton--regresar span 
    color: white !important

figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #93333D !important

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #372937
  background-color: #D7D4D7

.cen
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto



.bg1
  background-color:#F2EBFF
  min-height: 363.24px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -1.6rem
.bg11
  background-color:#E9D6D8
  min-height: 363.24px
  @media only screen and (max-width: 1023px)
    min-height: auto
  @media only screen and (min-width: 1024px) 
    margin-left: -1.6rem
.bg2
  background-color:#FAF6F3
  border-radius: 20px

.bg3
  background-color: #F8ECEB
  @media (min-width: 992px) 
    .mx-lg-2 
      margin-right: 1.5rem !important
      margin-left: 1.9rem !important
  @media only screen and (min-width: 1024px) 
    margin-left: -3.4rem
  
.bg4
  background-color: #D5AEB1
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  border-radius: 20px 0px 0px 20px
  @media only screen and (max-width: 767px)
    border-radius: 20px
.bg5
  background-color: #E1A49A
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  border-radius: 0px 20px 20px 0px
  @media only screen and (max-width: 767px)
    border-radius: 20px
  
.bg6
  background-color: #FAF6F3

.tit
  background-color: #F2E5DB
  border-radius: 15px 50px  50px 50px 
  @media only screen and (max-width: 1023px)
    border-radius: 50px
  width: fit-content
  padding: 9px 30px 9px 70px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 15px
.tit img
  width: 60px
  height: 60px
  position: absolute
  top: 50%
  left: -15px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    top: 55%
  @media only screen and (max-width: 767px)
    top: 50%
    width: 55px
    height: 55px

.tarjetaf
  background: url('../assets/curso/tema1/fd1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 0px
  overflow: hidden
  transition: transform 0.3s ease
  //&
    h4, p
      color: white
.slyder-a__bullets__item 
  background-color: #D5AEB1
  border-color: #D5AEB1
.slyder-a__bullets__item--active 
  background-color: #372937 !important
  border-color: #372937 !important
.slyder-a__tipo-b .slyder-a__btn--sigt 
  content: url('../assets/curso/tema1/der.svg')
  transform: rotate(0deg)
  right: 15px
.slyder-a__tipo-b .slyder-a__btn--atrs 
  content: url('../assets/curso/tema1/izq.svg')
  transform: rotate(0deg)
  left: 15px
@media (max-width: 768px) 
  .slyder-a__bullets__item 
    width: 15px
    height: 15px
    margin: 0px 1px

.tarjeta.color-primario.des
  background-color: #D7D4D7
  border-radius: 10px
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
.par
  overflow-wrap: anywhere

.tarjeta--slyder.b1
  background-color: #F2E5DB
  border-radius: 20px
.slyder-f__btn i 
  font-size: 4rem
  color: #372937

.lista-ol--cuadro__vineta 
  background-color: #E1A49A
  color: black

.tarjeta.color-b
  background-color: #FAF6F3
  width: 100%
  //&
    h4, p
      color: white

.cajon.color-acento-botones
  background-color: #FAF6F3
  &:before 
    background-color:#372937

.acordion__accion__btn--a
  background-color: #372937
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azull
  background-color: #F2E5DB
  h3
    color: black
.acordion__accion__btn--a i, .acordion__accion__btn--b i .activ
  color: white
.acordion.activ .acordion__activo .acordion__accion__btn--a
  background-color: #372937
  i
    color: white !important
.activ
  .acordion__activo 
    background-color: #E9D6D8 !important
    transition: all 0.3s ease-out
    h3
      color: black 

.bg10
  background: url('../assets/curso/tema1/fd2.png')
  background-size: 100% 100% 
  background-repeat: no-repeat
  background-position: center
  border-radius: 0px
.slyder__btn
  background-color: #372937
  color: #F2E5DB
.slib
  @media (min-width: 992px)
    padding: 3rem 9.5% 3rem 8.5% !important
    .row
      justify-content: space-between
      align-items: center
    .col-lg-4
      flex: 0 0 auto
      width: 35%
    .col-lg-8
      flex: 0 0 auto
      width: 51%
//.slyder-b__img
  @media (min-width: 992px)
    display: block
  @media (max-width: 768px)
    display: none

.color-acento-botones
  .tabs-a__tab
    padding: 12px 13px
    font-size: 16px  
    white-space: normal 
    line-height: 1.4
    min-height: 40px 
  @media (min-width: 1200px) 
    .col-xl-3
      flex: 0 0 auto
      width: 35%
    .col-xl-9
      flex: 0 0 auto
      width: 65%
.tabs-a__tab:last-child 
  margin-bottom: 0 !important
  background-color: #F8ECEB
  color: black //para hover deja texto como se pide en activo
.color-a
  background-color: #F2EBFF
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #372937!important
  color: white !important
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
  background-color:  #372937!important

.tarjeta-numerada
  border: solid 4px
.tarjeta-numerada.color-secundario .tarjeta-numerada__numero div 
  color: black
.tarjeta-numerada.color-primario .tarjeta-numerada__numero div 
  color: black
.tarjeta-numerada.color-acento-botones .tarjeta-numerada__numero div 
  color: black
.tarjeta-numerada.color-acento-botones .tarjeta-numerada__numero
  background-color: #D2CADF
.tarjeta-numerada.color-acento-botones 
  border-color: #D2CADF

.tarjeta-audio 
  border: 3px solid
.tarjeta-audio.color-acento-contenido .tarjeta-audio__texto 
  color: black
.fst-italic 
  font-style: normal !important
.tarjeta.color-secundario i
  color: #000
.tarjeta-audio.color-acento-contenido .tarjeta-audio__texto
  color: black
  font-style: normal !important
.tarjeta.color-acento-contenido * 
  color: #000

  
//////////////////////////////////////TABLAS////////////////////////////////////

.tabla-a thead 
  border-top: 6px solid #372937
  color: #12263F
  background-color: #F2EBFF
.tabla-a th
  border-color: #F2EBFF
.tabla-a
  table
    width: 100%
    th, td
      vertical-align: top
      text-align: left
      //border: none
  tbody
    td:first-child
      font-weight: bold
  table th
    padding: 16px 15px
  table td 
    padding: 15px 15px

.tabla-a.tab1
  th:nth-child(1)
    width: 20%
  th:nth-child(2)
    width: 40%
  th:nth-child(3)
    width: 40%

.tabla-a.tab2
  th:nth-child(1)
    width: 20%
  th:nth-child(2)
    width: 25%
  th:nth-child(3)
    width: 45%

.tabla-a.tab4
  th:nth-child(1)
    width: 22%
  th:nth-child(2)
    width: 22%
  th:nth-child(3)
    width: 26%
  th:nth-child(4)
    width: 35%
